<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>
           <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

 <script>
  
  var app = angular.module('app', []);
app.directive('validPasswordC', function() {
  return {
    require: 'ngModel',
    scope: {

      reference: '=validPasswordC'

    },
    link: function(scope, elm, attrs, ctrl) {
      ctrl.$parsers.unshift(function(viewValue, $scope) {

        var noMatch = viewValue != scope.reference
        ctrl.$setValidity('noMatch', !noMatch);
        return (noMatch)?noMatch:!noMatch;
      });

      scope.$watch("reference", function(value) {;
        ctrl.$setValidity('noMatch', value === ctrl.$viewValue);

      });
    }
  }
});
app.controller('homeCtrl', function($scope) {

});
  </script>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Online Exam Portal</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/responsive-slider.css" rel="stylesheet">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link href="css/style.css" rel="stylesheet">	

    </head>
  <body >
   

	<div class="container">
	</div>				
	<!--slider left right arrow-->

  <div id="header" style="background-color:#425cf4";>

   <center><p><h1> <span>Online Exam Registration</span> </h1></p></center>
  
  </div>
     	

	<div class="container" >
            <form class="form-horizontal" role="form" name="myForm">
			
                <h2><center>SIGN UP</center></h2>
                <div class="form-group">
                    <label for="fullname" class="col-sm-3 control-label">Full Name</label>
                    <div class="col-sm-6">
					<div class="input-group">
					<span class="input-group-addon transparent">
					<span class="glyphicon glyphicon-user"></span>
					</span>
                        <input name="myName" ng-model="myName" required size="65" placeholder="Full Name" autofocus ng-pattern ="/^[a-zA-Z\s]*$/" ng-model-options="{ debounce: 1000 }"/>
						<span ng-show="myForm.myName.$touched && myForm.myName.$invalid"><font color="red">*required.</font></span>
            <span ng-show="myForm.myName.$dirty && myForm.myName.$error.pattern"><font color="red">Only Alphabet is allows</font></span>
                        </div>
                    </div>
                </div>
				
				<div class="form-group">
                    <label for="username" class="col-sm-3 control-label">User Name</label>
                    <div class="col-sm-6">
          <div class="input-group">
          <span class="input-group-addon transparent">
          <span class="glyphicon glyphicon-user"></span>
          </span>
                        <input name="userName" ng-model="userName" required size="65" placeholder="userName" autofocus ng-minlength="4"/>
            <span ng-show="myForm.userName.$touched && myForm.userName.$invalid"><font color="red">*required.</font></span>
             <span ng-show="myForm.userName.$dirty && myForm.userName.$error.minlength">Minimum length required is 4</span>
                        </div>
                    </div>
                </div>


				<div class="form-group" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
                    <label for="Password" class="col-sm-3 control-label">Password</label>
                              <div class="col-sm-6">
                                                 <div class="input-group">
                                   <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
   <input type="password" id="" name="password" ng-model="password" required size="65" ng-maxlength="20" ng-minlenth="8" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/"  placeholder="password" autofocus>
                                    <span ng-show="myForm.password.$touched && myForm.password.$invalid"><font color="red">*required.</font></span>

                                       <p ng-show="myForm.password.$error.minlength" class="error">
                                            Passwords must be between 8 and 20 characters.</p>
                                          <p ng-show="myForm.password.$error.pattern" class="error">
                                       Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
                        </div>
                    </div>
                </div>
				<div class="form-group" ng-class="{'has-error':formData.rpassword.$invalid && !formData.rpassword.$pristine}">
                    <label for="Password" class="col-sm-3 control-label">Re-enter Password</label>
                    <div class="col-sm-6">
          <div class="input-group">
          
          
        
           <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                      <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" 
    placeholder="confirm password" valid-password-c="formData.password" required size="65" />

        <p ng-show="myForm.password_c.$error.noMatch" class="error">Passwords do not match.</span>
          <p ng-show="myForm.password_c.$touched && myForm.password_c.$error.required" class="error">please re-enter your password</p>
                        </div>
                    </div>
                </div>


  <div class="form-group">
                    <label for="Mobilenum" class="col-sm-3 control-label">Mobile no</label>
                    <div class="col-sm-6">
        <div class="input-group">
           <span class="input-group-addon" ><i class="fa fa-phone " aria-hidden="true"></i></span>
                        <input name="myNum" ng-model="myNum" required size="65" placeholder="Mobile No" autofocus ng-minlength="10"required ng-pattern="/[789]\d{9}$/">
            <span ng-show="myForm.myNum.$touched && myForm.myNum.$invalid"><font color="red">*required.</font></span>
            <span ng-show="myForm.myNum.$touched && myForm.myNum.$error.pattern">please enter valid mobilenumber</span>
                        </div>
                    </div>
                </div>

                 <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">email</label>
                    <div class="col-sm-6">
        <div class="input-group">
          <span class="input-group-addon transparent">
          <span class="glyphicon glyphicon-user"></span>
          </span>
                        <input name="email" type="email" ng-model="email" required size="65" placeholder="sample123@gmail.com" required autofocus>
            <span ng-show="myForm.email.$touched && myForm.email.$invalid"><font color="red">*required.</font></span>
            <span ng-show="myForm.email.$touched && myForm.email.$error.email">please enter your valid email</span>
                        </div>
                    </div>
                    
          

                </div></br>
                   <center> <input type="submit" ng-disabled="userForm.$invalid"></center>
</br></form>




				
				
				
			      
        </div> <!-- ./container -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!--start footer-->


	<!--end footer-->
	
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	<script src="js/responsive-slider.js"></script>
	<script src="js/wow.min.js"></script>
	<script>
	
	</script>
  </body>
</html>