<html ng-app="app">
<head>
<script src="angular.min.js"></script>

    <script>
	
	var app = angular.module('app', []);
app.directive('validPasswordC', function() {
  return {
    require: 'ngModel',
    scope: {

      reference: '=validPasswordC'

    },
    link: function(scope, elm, attrs, ctrl) {
      ctrl.$parsers.unshift(function(viewValue, $scope) {

        var noMatch = viewValue != scope.reference
        ctrl.$setValidity('noMatch', !noMatch);
        return (noMatch)?noMatch:!noMatch;
      });

      scope.$watch("reference", function(value) {;
        ctrl.$setValidity('noMatch', value === ctrl.$viewValue);

      });
    }
  }
});
app.controller('homeCtrl', function($scope) {

});
	</script>
</head>

<body>
<h1>Registration Form:</h1>
<form class="css-form" name="userForm">

<label for="firstName" >First Name: </label>
            <input type="text" name="firstName" ng-model="user.firstName" 
			ng-pattern ="/^[a-zA-Z\s]*$/" ng-model-options="{ debounce: 1000 }" required/> 
			<span ng-show="userForm.$dirty && userForm.firstName.$error.required">please enter your firstName</span>
			<span ng-show="userForm.$dirty && userForm.firstName.$error.pattern">Only Alphabet is allows</span>
			<br />

<label for="lastName">Last Name</label>
            <input type="text" name="lastName" ng-model="user.lastName" 
			ng-pattern ="/^[a-zA-Z\s]*$/" ng-model-options="{ debounce: 1000 }" required/> 
			<span ng-show="userForm.$dirty && userForm.lastName.$error.required">please enter your lastName</span>
			<span ng-show="userForm.$dirty && userForm.lastName.$error.pattern">Only Alphabet is allows</span>
			<br />
<!--
<label for="dob" >DoB</label>
            <input type="date" name="dob" ng-model="user.DoB" required/> 
			<span ng-show="userForm.dob.$dirty && userForm.dob.$error.required">please enter your DOB</span>
			<br />

<label for="gender" >Gender</label> 
            <select name="gender" ng-model="user.gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
            </select><br /> <br />
-->			

<span>User Type:
<select ng-model="user.User">
      <option value="option-1">Admin</option>
      <option value="option-2">User</option>
    </select><br>
			</br>
username:<input type="text" ng-model="user.username" name="uname" placeholder="Enter your name" required ng-minlength="3"/>
              <span ng-show="userForm.$dirty && userForm.uname.$error.required">This is a required field</span>
              <span ng-show="userForm.$dirty && userForm.uname.$error.minlength">Minimum length required is 4</span>
              <span ng-show="userForm.$dirty && userForm.uname.$invalid">This field is invalid </span>
</br>

  <div ng-controller="homeCtrl">
    <!--<p>Password:{{formData.password}}</p>-->
      <div class="css-form" ng-class="{'has-error':formData.password.$invalid && !formData.password.$pristine}">
        <label>Password</label>
        <input type="password" id="password" name="password" ng-model="formData.password" ng-minlength="8" 
		ng-maxlength="20" ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" placeholder="password" required />

        <p ng-show="userForm.password.$touched && userForm.password.$error.required" class="error">pass must be required</p>
        <p ng-show="userForm.password.$error.minlength" class="error">
          Passwords must be between 8 and 20 characters.</p>
        <p ng-show="userForm.password.$error.pattern" class="error">
          Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)</p>
     
	 </div>

      <div class="css-form" ng-class="{'has-error':formData.password_c.$invalid && !formData.password_c.$pristine}">
        <label for="password_c">Confirm Password</label>
        <input type="password" id="password_c" name="password_c" ng-model="formData.password_c" 
		placeholder="confirm password" valid-password-c="formData.password" required />

        <p ng-show="userForm.password_c.$error.noMatch" class="error">Passwords do not match.</span>
          <p ng-show="userForm.password_c.$touched && userForm.password_c.$error.required" class="error">pls confirm pass</p>
      </div>
  </div>

</br>

mobilenumber:<input type="text" name="mnumber" ng-model="user.mobilenumber" required ng-pattern="/[789]\d{9}$/">
<span ng-show="userForm.mnumber.$touched && userForm.mnumber.$error.required">please enter your mobile number</span>
<span ng-show="userForm.mnumber.$touched && userForm.mnumber.$error.pattern">please enter valid mobilenumber</span>
<br/>

Email:<input type="email" ng-model="user.email" name="myemail" required>
<span ng-show="userForm.myemail.$touched && userForm.myemail.$error.required">please enter your email</span>
<span ng-show="userForm.myemail.$touched && userForm.myemail.$error.email">please enter your valid email</span>
</br>

<input type="submit" ng-disabled="userForm.$invalid">
</br>

<input type="reset" ng-click="resetForm()" value="Reset" ng-disabled="userForm.$invalid" />
</br>
</form>

<!--
<style type="text/css">

.css-form input.ng-invalid.ng-touched{
background-color:red;
}

.css-form input.ng-valid.ng-touched{
background-color:green;
}

.css-form input.ng-untouched{
background-color:lime;
}

.css-form input.ng-dirty{
background-color:cyan;
}

.css-form input.ng-submitted{
background-color:blue;
}


</style>
-->
</body>
</html>