#page 
{
	padding:0;
	margin:0;
}
.btn,.btn-style,.eqn,.num-bg
{
	width:10%;
	height:80px;
}
.lis 
{
	color:#f8dbdb;
}
.ist 
{
	color:green;
}
body 
{
	margin:0;
	padding:0;
	width:100%;
	color:#959595;
	font:normal 12px/2.0em Sans-Serif;
}

.table
{
margin-left:20px;
}

#page 
{
	background:#eee;
}
			
#header, #content
 {
	margin:0;
	padding:0;
}
						
/* Logo */
#logo 
{
	padding:10px;
	width:auto;
	float:left;
}
#logo h1 a, h1 a:hover
{
	color:darkred;
	text-decoration:none;
}
#logo h1 span 
{
	color:#f8dbdb;
}


#header
 {
	margin:0 auto;
	padding:10px;
	width:970px;
	background:#fff;
}

.feature 
{
	background:#eee;
	padding:0;
}
.feature-inner 
{
	margin:auto;
	padding:10px;
	width:970px;
	background:red; 
}
.feature-inner h1 
{
	color:#f8dbdb;
	font-size:32px;
}
			


#content
{
	margin:0 auto;
	padding:10px;
	width:970px;
	background:#fff;
}

#content-inner
{
	margin:0 auto;
	padding:10px;
	padding-left:200px;;
	width:400px;
	background:#fff;
}
/*
#content-inner
{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
	float:left;
}
*/
#content-inner2
{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid red;
    padding: 25px;
    margin: 25px;
	float:left;
}		
#image
{
margin-left:70px;
}
		
#upload
{
	border: 1px solid #000000;
	opacity:1.0;
	padding:15px;
	margin-left:70px;;
	background:white;
	width:120px;
	height:40px;
	transition:1s;
	text-align:center;
	color:black;
}			

#upload:hover  {
height:50px;
width:150px;
background:#000000;
color:white;
}

#submit
{
	border: 1px solid #000000;
	opacity:1.0;
	padding:15px;
	margin-left:70px;;
	background:white;
	width:120px;
	height:40px;
	transition:2s;
	text-align:center;
	color:black;
}			

#submit:hover  {
height:50px;
width:150px;
background:#000000;
color:white;
}
#submit:active {
height:50px;
width:150px;
background:blue;
color:white;
}
#submit:vvisited {
height:50px;
width:150px;
background:green;
color:white;
}
			
/* Clear both sides to assist with div alignment  */
.clr 
{ 
	clear:both;
	padding:0; 
	margin:0;
	width:100%;
	font-size:0px;
	line-height:0px;
}